<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add
                id="AM_AffiliateMember::affiliate"
                title="Affiliate Members"
                module="AM_AffiliateMember"
                sortOrder="300"
                parent="Magento_Backend::marketing_user_content"
                action="affiliatemember/affiliate"
                resource="AM_AffiliateMember::affiliate"
        />
    </menu>
</config>
